.no-close .ui-dialog-titlebar-close {
    display: none;
}

.room-display {
    display: none;
}

.text-input {
    height: 30px;
    width: calc(100% - 54px);
    display: inline-block;
}

.button-input {
    height: 30px;
    width: 50px;
    margin-left: 4px;
    display: inline-block;
}

.leave-button {
    height: 20px;
    width: 20px;
    line-height: 16px;
    text-align: center;
    float: right;
    padding: 0px 0px 0px 0px;
}

#main-panel {
    margin: 0 auto;
    width: 80%;
    height: 800px;
}

#left-panel {
    height: 100%;
    width: 20%;
    padding: 4px;
    display: inline-block;
    vertical-align: top;
}

#center-panel {
    height: 100%;
    width: 60%;
    padding: 4px;
    display: inline-block;
    vertical-align: top;
}

#right-panel {
    height: 100%;
    width: 20%;
    padding: 4px;
    display: inline-block;
    vertical-align: top;
}

#messages {
    height: calc(100% - 34px);
    border: 1px solid black;
    margin-bottom: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
}

#messages li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

#rooms {
    height: calc(100% - 34px);
    border: 1px solid black;
    margin-bottom: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
}

#rooms li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#rooms li a {
    color: #000;
    text-decoration: none;
}

#rooms li.current {
    background-color: #2e7da3;
}

#rooms .current a {
    color: #fff;
}

#members {
    height: calc(100% - 34px);
    border: 1px solid black;
    margin-bottom: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
}

#members li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}