.no-close .ui-dialog-titlebar-close {
    display: none;
}

.room-display {
    display: none;
}

.text-input {
    height: 30px;
    width: calc(100% - 54px); /* minus .button-input width/margin */
    display: inline-block;
}

.button-input {
    height: 30px;
    width: 50px;
    margin-left: 4px;
    display: inline-block;
}

.leave-button {
    height: 20px;
    width: 20px;
    line-height: 16px;
    text-align: center;
    float: right;
    padding: 0;
}

#main-panel {
    margin: 0 auto;
    width: 80%;
    height: 95vh;
}

#left-panel {
    height: 100%;
    width: 20%;
    padding: 4px;
    display: inline-block;
    vertical-align: top;
}

#center-panel {
    height: 100%;
    width: 60%;
    padding: 4px;
    display: inline-block;
    vertical-align: top;
}

#right-panel {
    height: 100%;
    width: 20%;
    padding: 4px;
    display: inline-block;
    vertical-align: top;
}

#message-inputs, #room-inputs, #member-inputs {
    height: 30px;
    margin-top: 4px;
}

#messages, #rooms, #members {
    height: calc(100% - 39px - 34px); /* minus header height/margin, minus #_____-inputs height/margin */
    border: 1px solid black;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
}

#messages li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

#rooms li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#rooms li a {
    color: #000;
    text-decoration: none;
}

#rooms li.active {
    background-color: #2e7da3;
}

#rooms .active a {
    color: #fff;
}

#rooms .pending a {
    color: red;
    font-weight: bold;
}

#members li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}