<div id="main-panel">
  <div id="left-panel">
    <h4>Rooms</h4>
    <div id="rooms"></div>
  </div>
  <div id="center-panel">
    <h4>Chat</h4>
    <div id="messages"></div>
    <input id="message-input" type="text" placeholder="Type here to chat!"></input>
  </div>
  <div id="right-panel">
    <h4>Members</h4>
    <div id="members"></div>
  </div>
</div>
<div id="name-dialog" title="Name">
  <input id ="name-input" type="text" style="width: 100%;"></input>
</div>